{% extends 'base.html' %}
{% block contents %}

<!-- 検索フォーム -->
<form method="get">
    <input type="search" value="{{ request.GET.query }}" name="query" type="text" placeholder=" 探したい商品を入力 ">
    <button>検索</button>
</form>

<!-- 検索結果メッセージ -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        "{{ message }}" を含む検索結果:
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>

<!-- 検索結果 -->
{% for object in object_list %}
<div class="content">
    <div class="title">
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for record in object_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ record.image1.url }}" class="bd-placeholder-img card-img-top" width="100%"
                                height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text></img>

                            <!-- タイトルとボタンを出力するブロック -->
                            <div class="card-body">
                                <p class="card-text">{{record.title}}</p>
                                <p class="card-text">¥{{record.price}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- 詳細ページ表示ボタン -->
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='{% url 'freema:photo_detail' record.pk %}'">商品を閲覧する</button>
                                        <!-- カテゴリページ表示ボタン -->
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='{% url 'freema:photos_cat' category=record.category.id %}'">
                                            {{record.category.title}}
                                        </button>
                                    </div>
                                    <!-- 投稿したユーザー名を出力-->
                                    <a href="{% url 'freema:user_list' user=record.user.id %}">
                                        <small class="text-muted">{{record.user.username}}</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col">
                        <div class="card shadow-sm">

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">商品名</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">カテゴリ</button>
                                    </div>
                                    <small class="text-muted">ユーザー名</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}